<Form @model={{this}} @onSubmit={{action "signup"}} as |f|>
  <f.legend>Sign Up</f.legend>
  <f.errors @errors={{this.errors}} />
  <f.input @field="username" />
  <f.input @field="password" @type="password" />
  <f.input @field="email" />
  <div class="w-full mb-6 px-3">
    <f.button @type="submit">Submit</f.button>
  </div>
</Form>
